.root {
  /* max-width: 150px; */
  border-radius: 10px;

  max-height: 110px;
  text-transform: capitalize;
  /* border: 1px solid black; */
  overflow-y: auto;
}
.inline {
  display: "inline";
}

ul {
  border: 1px solid black;

  float: left;
  width: 200px;
  height: 130px;
  /* background-color: cadetblue; */
  border-radius: 5px;
}

.root::-webkit-scrollbar {
  display: none;
}

.checkbox {
  /* top: 50%; */
  position: static;
}

.MuiListItem-gutters {
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 20px;
}
