@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
}

.App {
  font-size: 30px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}
