.body {
  /* border: 2px solid black; */
  width: 95%;
  margin: auto;
  margin-top: 2%;
}

.ingreidents {
  width: 100%;
  overflow-y: auto;
  height: 680px;
  background-color: lavender;
  border-radius: 20px;
  margin-bottom: 1%;
  margin-top: 5%;
}

.ingreidents::-webkit-scrollbar {
  display: none;
}

.title span {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}
.title span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
}
.title span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #333;
}
